.opportunities{
    padding: 80px 0;
    &__container{
        @extend %container;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__context{
        @include flex(column,);
        width: 40%;
        strong{
            @include font-decoration(600, 20px, 24.38px);
            margin: 0.5rem 0 1.5rem 0;
        }
    }
    &__imgs{
        // width: 90%;
        &__multiple{
            display: grid;
            grid-template-columns: 28% 38.7% 28%;
            align-items: center;
            column-gap: 54px;
        }
        &__focus{
            @include flex;
        }
        &__navigation{
            display: flex;
            justify-content: center;
        }
    }
}